@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    padding: 15px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.grey{
    color: #918E9B;
}

.hero {
    padding:30px;
    display:flex;
    flex-direction:column;
}

.hero-img {
    max-width: 600px;
    align-self: center;
}

.card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    padding-left:40px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-img {
    width: 200px;
    height: 300px;
    border-radius: 9px;
    margin-bottom: 9px;
}


.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-info {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.card-price {
    margin-top: auto;
}

.card-batch {
    position: absolute;
}