@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

nav {
    height: 70px;
    display: flex;
    padding: 15px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.grey{
    color: #918E9B;
}

.hero {
    padding:30px;
    display:flex;
    flex-direction:column;
}

.hero-img {
    max-width: 600px;
    align-self: center;
}

.card {
    padding-left:40px;
}
